
body {
  background-color:black;
}
p {
  color:#ffe78f
}

h1 {
  color: #ffe78f;
  font-family: cursive;
}
h2  {
  color: #ffe78f;
}
h3  {
  color: #ffe78f;
}
table {
  color:white;
}
ul {
  color:white;
}
hr {
  color:#ffe78f;
  border-style: solid;
  border-width: 1px;
}
ol {
  color:white;
}
form {
  color:white;
}
table {
  color:white;
}
body {
  font-family: cursive;
}
a:hover {
  color: red;
}
